<!--- --- --- HEADER --- --- --->
<div class="container-fluid header-fluid">
    <header class="row">
        <div class="col-6 d-flex justify-content-center">
            <h1 class="align-self-center header-titulo">Mercurio</h1>
        </div>

        <div class="col-6">
            <img src="../../assets/images/planetas/planeta mercurio.png" alt="Planeta tierra" class="header__imagen">
        </div>
    </header>
</div>
<!--- --- --- HEADER - FIN --- --- --->

<!--- --- --- MAIN - ASIDE --- --- --->
<div class="fondo">
    <div class="container">
        <main class="row">
            <div class="col-7">
                <article class="articulo-principal">
                    Mercurio es el planeta del sistema solar más próximo al Sol y el más pequeño. Forma parte de los denominados planetas interiores o terrestres y carece de satélites naturales al igual que Venus. Se conocía muy poco sobre su superficie hasta que fue enviada la sonda planetaria Mariner 10 y se hicieron observaciones con radar y radiotelescopios. Posteriormente fue estudiado por la sonda MESSENGER de la NASA y actualmente la astronave de la Agencia Europea del Espacio (ESA) denominada BepiColombo, lanzada en octubre de 2018, se halla en vuelo rumbo a Mercurio a donde llegará en 2025 y se espera que aporte nuevos conocimientos sobre el origen y composición del planeta, así como de su geología y campo magnético.
                    <br>
                    Su tamaño es (28%) más grande que la luna y los cráteres de la superficie son muy similares. Mercurio gira alrededor del Sol más rápido que cualquier otro planeta, debido a su proximidad. Es visible desde la Tierra justo antes del amanecer o después del atardecer. Mercurio nunca se aleja más de 27 grados del Sol (es el ángulo de las agujas del reloj cuando es de una hora). Mercurio es un planeta misterioso que comenzamos a entender a través de la sonda Messenger. Antes Messenger, no conocemos que el 45% de su superficie en detalle. No tiene ningún satélite. Mercurio tiene una órbita muy excéntrica que cambia su radio de 46 a 70 millones de kilómetros. Su nombre proviene del dios romano Mercurio. La proporción importante de hierro de Mercury intriga los científicos. Tres hipótesis se han propuesto para explicar el alto contenido de metal de Mercurio y su núcleo enorme.
                </article>
            </div>
    
            <div class="card border-primary">
                <div class="card-body">
                    <div class="card-title"><h3>Algunos Datos</h3></div>
                    <div class="card-text">
                        <p><b>Gravedad:</b> 3.7 m/s²</p>
                        <p><b>Duración del día:</b> 58d 15h 30m</p>
                        <p><b>Radio:</b> 2,439.7 km</p>
                        <p><b>Período orbital:</b> 88 días</p>
                        <p><b>Superficie:</b> 74.8 millones km²</p>
                        <p><b>Lunas:</b> 0</p>
                        <p><b>Distancia con el Sol: </b> 57.91 millones km</p>
                        <p><b>Distancia con la tierra: </b> 222 millones de km</p>
                    </div>
                </div>
            </div>
        </main>

        <div class="row galeria">
            <div class="col">
                <h2 class="galeria__titulo">Galeria</h2>

                <img class="galeria__img img1" src="../../../assets/images/mercurio/imagen1.jpg" alt="Mercurio">
                <img class="galeria__img img2" src="../../../assets/images/mercurio/imagen2.jpg" alt="mercurio">
                <img class="galeria__img img3" src="../../../assets/images/mercurio/imagen3.png" alt="mercurio">
                <img class="galeria__img img4" src="../../../assets/images/mercurio/imagen4.jpg" alt="mercurio">
                <img class="galeria__img img5" src="../../../assets/images/mercurio/imagen5.jpg" alt="mercurio">
                <img class="galeria__img img6" src="../../../assets/images/mercurio/imagen6.jpg" alt="mercurio">
                <img class="galeria__img img7" src="../../../assets/images/mercurio/imagen7.jpg" alt="mercurio">
                <img class="galeria__img img8" src="../../../assets/images/mercurio/imagen8.jpg" alt="mercurio">
                <img class="galeria__img img9" src="../../../assets/images/mercurio/imagen9.jpg" alt="mercurio">
            </div>
        </div>
    </div>
</div>
<!--- --- --- MAIN - ASIDE - FIN --- --- --->
