<!--- --- --- HEADER --- --- --->
<div class="container-fluid header-fluid">
    <header class="row header-demas-row">
        <div class="col header-demas-col">
            <h1 class="header-demas-titulo">Imagenes</h1>
        </div>
    </header>
</div>
<!--- --- --- HEADER - FIN --- --- --->

<!--- --- --- MAIN - ASIDE --- --- --->
<div class="fondo-demas">
    <div class="contenedor">
        <div class="item">
            <figure>
                <img src="../../../assets/images/mas/imagenes/imagen1.jpg" alt="Sistema solar" class="img1">
                <figcaption>Sistema solar</figcaption>
            </figure>
        </div>
    
        <div class="item">
            <figure>
                <img src="../../../assets/images/mas/imagenes/imagen2.jpg" alt="Saturno" class="img2">
                <figcaption>Saturno</figcaption>
            </figure>
        </div>
    
        <div class="item">
            <figure>
                <img src="../../../assets/images/mas/imagenes/imagen3.jpg" alt="Uy scuti" class="img3">
                <figcaption>Uy scuti Vs nuestro sol</figcaption>
            </figure>
        </div>
    
        <div class="item">
            <figure>
                <img src="../../../assets/images/mas/imagenes/imagen4.jpg" alt="" class="img4">
                <figcaption>Representacion de un agujero negro</figcaption>
            </figure>
        </div>
    
        <div class="item">
            <figure>
                <img src="../../../assets/images/mas/imagenes/imagen5.jpg" alt="" class="img5">
                <figcaption>Andromeda</figcaption>
            </figure>
        </div>
    
        <div class="item">
            <figure>
                <img src="../../../assets/images/mas/imagenes/imagen6.jpg" alt="" class="img6">
                <figcaption>Jupiter vs la tierra</figcaption>
            </figure>
        </div>
    </div>
</div>
<!--- --- --- MAIN - ASIDE - FIN --- --- --->