<!--- --- --- HEADER --- --- --->
<div class="container-fluid header-fluid">
    <header class="row header-demas-row">
        <div class="col header-demas-col">
            <h1 class="header-demas-titulo">Otros Cuerpos</h1>
        </div>
    </header>
</div>
<!--- --- --- HEADER - FIN --- --- --->

<!--- --- --- MAIN - ASIDE --- --- --->
<div class="fondo-demas">
    <div class="container">
        <section class="row">
            <div class="col">
                <article class="articulo-principal">
                    <h2>Estrella De Neutrones</h2>
                    Una estrella de neutrones nace del colapso gravitacional de una estrella supergigante masiva después de agotar el combustible en su núcleo y explotar como una supernova. Cualquier estrella de la secuencia principal con una masa inicial de más de 8 masas solares puede convertirse en una estrella de neutrones. Una estrella de neutrones tienen un radio aproximado de unos 12 kilometros por lo general y su masa equivale a 1.35 a 2.1 masas solares, esta gran cantidad de energia concentrada en un punto tan pequeño hace que tenga unas 700 revoluciones por segundo, una estrella de neutrones esta compuesta principalmente por neutrones, de ahi su nombre, pero tambien posee tanto protones como electrones.
                    <br>
                    se calcula que en el universo hay unas 2000 estrellas de neutrones mas o menos, y unas 100 de esas 2000 pertenecen a un sistema binario, ya sean 2 estrellas de neutrones o una estrella de neutrones y una estrella.
                    <br>
                    Una cucharada de una estrella de neutrones pesaria mas o menos unos 4.000.000.000 de kilos.
                    <br>
                    Si magicamente pudieramos teletransportarnos a la superficie de una estrella de neutrones esta nos desintegraria en menos de 1 segundo y pasariamos a formar parte de la estrella de neutrones.
                    
                    <figure class="col img-edn">
                        <img src="../../../assets/images/otros-cuerpos/estrella-de-neutrones.jpg" class="img-oc img1" alt="Estrella de neutrones" >
                        <img src="../../../assets/images/otros-cuerpos/estrella-de-neutrones2.jpg" class="img-oc img2" alt="Estrella de neutrones">
                        <img src="../../../assets/images/otros-cuerpos/estrella-de-neutrones3.jpg" class="img-oc img3"
                        alt="Estrella de neutrones">
                    </figure>
                </article>
            </div>
        </section>

        <section class="row">
            <div class="col">
                <article class="articulo-principal">
                    <h2>Supernova</h2>
                    Una supernova es una explosión estelar que puede manifestarse de forma muy notable, incluso a simple vista, en lugares de la esfera celeste donde antes no se había detectado nada en particular. Por esta razón, a eventos de esta naturaleza se los llamó inicialmente stellae novae («estrellas nuevas») o simplemente novae. Con el tiempo se hizo la distinción entre fenómenos aparentemente similares pero de luminosidad intrínseca muy diferente; los menos luminosos continuaron llamándose novae (novas), en tanto que el término supernova fue acuñado por Walter Baade y Fritz Zwicky en 1931 para denominar a los más luminosos agregándoles el prefijo «super».

                    <figure class="col img-edn">
                        <img src="../../../assets/images/otros-cuerpos/supernova1.jpg" class="img-oc img1" alt="Estrella de neutrones" >
                        <img src="../../../assets/images/otros-cuerpos/supernova2.jpg" class="img-oc img2" alt="Estrella de neutrones">
                        <img src="../../../assets/images/otros-cuerpos/supernova3.jpg" class="img-oc img3"
                        alt="Estrella de neutrones">
                    </figure>
                </article>
            </div>
        </section>
    </div>
</div>
<!--- --- --- MAIN - ASIDE - FIN --- --- --->