<!--- --- --- HEADER --- --- --->
<div class="container-fluid header-fluid">
    <header class="row header-demas-row">
        <div class="col header-demas-col">
            <h1 class="header-demas-titulo">Otros Cuerpos</h1>
        </div>
    </header>
</div>
<!--- --- --- HEADER - FIN --- --- --->

<!--- --- --- MAIN - ASIDE --- --- --->
<div class="fondo-demas">
    <section class="container random">
        <div class="row justify-content-between">
            <div class="col-12 col-md-5 col-xl-3 card card1">
                <div class="card-body">
                    <div class="card-text">
                        <p class="card__p card__p1">1. En el interior de jupiter caben 1300 tierras.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-5 col-xl-3 card card2">
                <div class="card-body">
                    <div class="card-text">
                        <p class="card__p">2. Proxima centauri es la estrella mas proxima a la tierra despues del sol, se encuentra a tan solo cuatro años luz de distancia.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-xl-3 col-md-5 card card3">
                <div class="card-body">
                    <div class="card-text">
                        <p class="card__p">3. Jupiter fue el primer planeta en formarse del sistema solar.</p>
                    </div>
                </div>
            </div>
        
            <div class="col-12 col-xl-3 col-md-5 card card4">
                <div class="card-body">
                    <div class="card-text">
                        <p class="card__p">4. Estimaciones recientes hechas con una simulacion por ordenador apuntan a que hay mas de 500 mil millones de galaxias.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-xl-3 col-md-5 card card5">
                <div class="card-body">
                    <div class="card-text">
                        <p class="card__p">5. La estrella mas grande descubierta hasta el momento es uy scuti, su tamaño es 1708 veces mayor al de nuestro sol.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-xl-3 col-md-5 card card6">
                <div class="card-body">
                    <div class="card-text">
                        <p class="card__p">6. Una unidad astronomica es la distancia que hay entre la tierra y el sol.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-xl-3 col-md-5 card card7">
                <div class="card-body">
                    <div class="card-text">
                        <p class="card__p">7. La velocidad de la luz son 300.000 Km/s.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-xl-3 col-md-5 card card8">
                <div class="card-body">
                    <div class="card-text">
                        <p class="card__p">8. Las galaxias pueden tener diferentes formas, pueden ser espirales, elipticas, lenticulares, irregulares.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-xl-3 col-md-5 card card9">
                <div class="card-body">
                    <div class="card-text">
                        <p class="card__p">9. Nuestro sol tiene 1.400.000 Km de diametro.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-xl-3 col-md-5 card card10">
                <div class="card-body">
                    <div class="card-text">
                        <p class="card__p">10. La superficie del sol tiene una temperatura de 5500 °C.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!--- --- --- MAIN - ASIDE - FIN --- --- --->