<!--- --- --- HEADER --- --- --->
<div class="container-fluid header-fluid">
    <header class="row">
        <div class="col-6 d-flex justify-content-center">
            <h1 class="align-self-center header-titulo">La Luna</h1>
        </div>

        <div class="col-6">
            <img src="../../../assets/images/planetas/la_luna.png" alt="La Luna" class="header__imagen">
        </div>
    </header>
</div>
<!--- --- --- HEADER - FIN --- --- --->

<!--- --- --- MAIN - ASIDE --- --- --->
<div class="fondo">
    <div class="container">
        <main class="row">
            <div class="col-12">
                <article class="articulo-principal">
                    La Luna es uno de los cuerpos celestes del sistema solar. Es el quinto satélite natural más grande y el único que tiene la Tierra. Su diámetro ecuatorial es de 3.474 km y está compuesto, esencialmente, por rocas. La palabra luna tiene su origen en el latín y significa “luminosa” o “la que ilumina”. En la mitología griega, Selene es la diosa lunar, de allí que en el ámbito científico o académico se utilicen términos derivados de este nombre para designar conceptos asociados al satélite, como selenografía, que es la parte de la astronomía que se encarga de estudiar a la Luna.<br>
                    El nacimiento de la luna se teoriza que fue producto de un choque de un cuerpo celeste contra la tierra y parte de los escombros fueron uniendose dando el nacimiento de la luna, este hecho ocurrio hace 4.500 millones de años. 
                    <br>
                    La Luna viaja alrededor de la Tierra en una órbita ovalada a 3680 kilómetros por hora. La luna no tiene atmósfera, por lo tanto su temperatura varía entre -184 grados Celsius durante la noche y a 214 grados Celsius durante el día, excepto en los polos donde la temperatura es constante e igual a -96 grados Celsius.
                    <br>
                    La luna es el unico cuerpo celeste pisado por el hombre en la mision apolo 11 el dia 16 de julio de 1969 y llegaron a la superficie de la luna el 20 de julio de ese mismo año, la mision fue ejecutada por 3 astronautas pero solo 2 pudieron caminar sobre la luna, estos fueron Armstrong y Aldrin, el exito de esta mision es uno de los mayores logros de la humanidad, esta mision fue realizada por los estados unidos, Aunque el programa Luna de la Unión Soviética fue el primero en alcanzar la Luna con una nave espacial no tripulada.
                    <br>
                    La gran mancha oscura visible de la Luna, o el llamado 'Océano de las Tormentas', no se originó por el impacto de asteroides como se creía, sino por cambios geológicos en el satélite natural de la Tierra, según un estudio.

                    Según indican los análisis de las muestras de rocas lunares, una vez se empezó a enfriar la Luna, la corteza se solidificó, permitiendo la formación de las rocas más antiguas. Luego se produjo un gran bombardeo de fragmentos rocosos que chocaron con la superficie lunar hace aproximadamente 3.900 millones de años. Estos impactos produjeron una serie de cuencas que emitieron grandes cantidades de magma a la superficie, formando así los ‘mares lunares’.

                    Las rocas allí presentes son basaltos, un tipo de roca ígnea formada por el rápido enfriamiento de magmas que están a temperaturas entre los 1.200 y los 1.000 °C, y cuyos minerales son ricos en hierro y magnesio (ferromagnesianos).

                    Precisamente, por el alto contenido de hierro y magnesio en las rocas basálticas vemos estas regiones mucho más oscuras que el resto de la Luna

                    En otras palabras, se produjo un gran evento de origen volcánico en nuestro satélite y el magma rellenó los espacios más bajos hasta crear las zonas oscuras que se pueden ver en las noches de Luna llena, explicaron.
                </article>
            </div>
        </main>

        <div class="row galeria">
            <div class="col">
                <h2 class="galeria__titulo">Galeria</h2>

                <img class="galeria__img img1" src="../../../assets/images/lunas-estrellas/la-luna/luna.jpg" alt="La Luna">
                <img class="galeria__img img2" src="../../../assets/images/lunas-estrellas/la-luna/luna2.jpg" alt="La Luna">
                <img class="galeria__img img3" src="../../../assets/images/lunas-estrellas/la-luna/luna3.jpg" alt="La Luna">
                <img class="galeria__img img4" src="../../../assets/images/lunas-estrellas/la-luna/luna4.jpg" alt="La Luna">
                <img class="galeria__img img5" src="../../../assets/images/lunas-estrellas/la-luna/luna5.png" alt="La Luna">
                <img class="galeria__img img6" src="../../../assets/images/lunas-estrellas/la-luna/luna6.jpg" alt="La Luna">
                <img class="galeria__img img7" src="../../../assets/images/lunas-estrellas/la-luna/luna7.jpg" alt="La Luna">
                <img class="galeria__img img8" src="../../../assets/images/lunas-estrellas/la-luna/luna8.jpg" alt="La Luna">
                <img class="galeria__img img9" src="../../../assets/images/lunas-estrellas/la-luna/apolo11.jpg" alt="La Luna">
            </div>
        </div>
    </div>
</div>
<!--- --- --- MAIN - ASIDE - FIN --- --- --->