<!--- --- --- HEADER --- --- --->
<div class="container-fluid header-fluid">
    <header class="row">
        <div class="col-6 d-flex justify-content-center">
            <h1 class="align-self-center header-titulo">Jupiter</h1>
        </div>

        <div class="col-6">
            <img src="../../../assets/images/planetas/planeta jupiter.png" alt="Planeta Jupiter" class="header__imagen">
        </div>
    </header>
</div>
<!--- --- --- HEADER - FIN --- --- --->

<!--- --- --- MAIN - ASIDE --- --- --->
<div class="fondo">
    <div class="container">
        <main class="row">
            <div class="col-7">
                <article class="articulo-principal">
                    Júpiter es el quinto planeta del sistema solar. Forma parte de los denominados planetas exteriores o gaseosos. Recibe su nombre del dios romano Júpiter (Zeus en la mitología griega).

                    Se trata del planeta que ofrece un mayor brillo a lo largo del año dependiendo de su fase. Es, además, después del Sol, el mayor cuerpo celeste del sistema solar, con una masa casi dos veces y media la de los demás planetas juntos (con una masa 318 veces mayor que la de la Tierra y tres veces mayor que la de Saturno, además de ser, en cuanto a volumen, 1317 veces más grande que la Tierra). También es el planeta más antiguo del sistema solar, siendo incluso más antiguo que el sol; este descubrimiento fue realizado por investigadores de la universidad de Münster en Alemania.
                    <br>
                    Júpiter es el quinto planeta más cercano del sistema solar y el primero de los planetas gaseosos. Está formado mayoritariamente por gases, por este motivo, es conocido como un gigante gaseoso, igual que Saturno, Urano y Neptuno.
                    Una característica importante de Júpiter es que tiene el día más corto del sistema solar: solo tarda 9 horas y 55 minutos en dar una vuelta sobre sí mismo. Esta rápida velocidad de rotación, junto con su naturaleza gaseosa, hacen que Júpiter tenga una forma ligeramente achatada. Por el mismo motivo, Júpiter no gira con la misma velocidad en todos sus puntos. Por ejemplo, el ecuador puede llegar a girar 5 veces más rápido que las zonas cerca de los polos.
                </article>
            </div>
    
            <div class="card border-primary">
                <div class="card-body">
                    <div class="card-title"><h3>Algunos Datos</h3></div>
                    <div class="card-text">
                        <p><b>Gravedad:</b> 24.79 m/s²</p>
                        <p><b>Duración del día:</b> 0d 9h 56m</p>
                        <p><b>Radio:</b> 69,911 km km</p>
                        <p><b>Período orbital:</b> 12 años</p>
                        <p><b>Superficie:</b> 61.42 miles de millones km²</p>
                        <p><b>Lunas:</b> 61</p>
                        <p><b>Distancia con el Sol: </b> 778.5 millones km</p>
                        <p><b>Distancia con la tierra: </b> 660 millones de km</p>
                    </div>
                </div>
            </div>
        </main>

        <div class="row galeria">
            <div class="col">
                <h2 class="galeria__titulo">Galeria</h2>

                <img class="galeria__img img1" src="../../../assets/images/jupiter/imagen1.jpg" alt="Mercurio">
                <img class="galeria__img img2" src="../../../assets/images/jupiter/imagen2.jpg" alt="mercurio">
                <img class="galeria__img img3" src="../../../assets/images/jupiter/imagen3.jpg" alt="mercurio">
                <img class="galeria__img img4" src="../../../assets/images/jupiter/imagen4.jpg" alt="mercurio">
                <img class="galeria__img img5" src="../../../assets/images/jupiter/imagen5.jpg" alt="mercurio">
                <img class="galeria__img img6" src="../../../assets/images/jupiter/imagen6.jpg" alt="mercurio">
                <img class="galeria__img img7" src="../../../assets/images/jupiter/imagen7.jpg" alt="mercurio">
                <img class="galeria__img img8" src="../../../assets/images/jupiter/imagen8.jpg" alt="mercurio">
                <img class="galeria__img img9" src="../../../assets/images/jupiter/imagen9.jpg" alt="mercurio">
            </div>
        </div>
    </div>
</div>
<!--- --- --- MAIN - ASIDE - FIN --- --- --->